body{
background-image: url(../imagenes/fondo4.jpg);
background-repeat: no-repeat;
background-attachment: fixed;

}


header{background: #FC4646 ;
  border-style: solid;
  border-color: white;
  border-radius: 60px;
  color: white;
  text-decoration: underline;
  font-size: 15px;
  text-align: center;
}

nav{background: #4EBB72 ;
  border-style: solid;
  border-color: white;
  border-radius: 50px;
  margin: 1%;
}

section{
border-style: solid;
border-color: white;

}

p{ margin: 1%;
color: white;
}

img{
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 250px;

}

h2{
  text-align: left;
  color: white;
}

h3{
text-align: center;
width: 30%;
color: white;

float: none;
}

h4{
text-align: center;
color: white;
}


aside{
  border-style: solid;
  border-color: white;

}
article ul{
  border-style: solid;
  border-color: white;
  border-radius: 40px;
  width: 30%;
  color: white;
  float: left;
  padding: 2%;
  margin-left: 20px;
  margin-right: 200px;
}



article ol{
  border-style: solid;
  border-color: white;
  border-radius: 40px;
  color: white;
  padding: 2%;
  margin: 20px;
}

footer{


  border-style: solid;
  border-color: white;
  border-radius: 60px;
  color: white;
  text-decoration: underline;
  float: none;

}

.enlaces {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.enlaces ul {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  }

.enlaces ul li,
.enlaces a {
  transition: 0.8s;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;

}

.enlaces li:hover,
.enlaces a:hover {
  text-decoration: none;
  color: rgb(23, 52, 23);
  transform: scale(1.1);

}

div{
  bottom: 5%;
  position: fixed;
  padding-left: 91%;

}

.container-boton{

    width: 1%;
    height: 1%;
    z-index: 999;


}

.container-boton:hover{
    transform: scale(1.1);

}


.boton{
    width: 50px;
    border-radius: 50px;

}


.iconos{
  width: 2rem;
  border-radius:  1.6875rem;
  height: 2rem;
  margin-left: auto;
  margin-top: auto;

  }
  .SocialMediaButtons {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: static;
    padding-left: 5%;


  }
  .SocialMediaButtons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: 0.125rem solid transparent;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1rem;
    line-height: 1.75em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
  }

  .SocialMediaButtons .social-button.facebook {
    background: #3b5998;
  }

  .SocialMediaButtons .social-button.facebook:hover {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }

  .SocialMediaButtons .social-button.twitter {
    background: #55acee;
  }

  .SocialMediaButtons .social-button.twitter:hover {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }

  .SocialMediaButtons .social-button.youtube {
    background: #bb0000;
  }

  .SocialMediaButtons .social-button.youtube:hover {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }

  .SocialMediaButtons .social-button.instagram {
    background: #ed4956;
  }

  .SocialMediaButtons .social-button.instagram:hover {
    color: #ed4956;
    background: #fefefe;
    border-color: #ed4956;
  }
